* {
    box-sizing: border-box;
}

body {
    margin: -35px;
}

h1 {
    font-family: RobotoMedium;
    font-size: 32pt;
    color: white;
    text-align: center;
    line-height: 150px;
    
}


main {
    width: 1480px;
    height: 2000px;
    margin: 0px auto 0px auto;
    padding: 0px;
    background-image: url(../images/whitebackground\.jpg);

}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: DidactGothic;
    src: url(../fonts/DidactGothic-Regular\ copy.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}


.topbackground {
    width: 1480px;
    height: 150px;
    background-image: url(../images/background.jpg);
    margin: 0 auto 0px auto;
}


aside {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.vertical-line {
    width: 1044px;
    height: 3px;
    background-color: black;
    text-align: center;
    margin-left: 213px;
}

.linetext {
    font-family: Poppins;
    font-size: 25px;
    position: relative;
    left: 212px;
    top: 75px;
}


article {
    width: 328px;
    height: 700px;
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 210px;
    float:left;

}

.img1 {
    height: 228px;
    width: 328px;
    margin-bottom: 20px;
    
}


time {
    font-family: Poppins;
    font-size: 18px;
    float: right;
    margin-right: 5px;
}



h2 {
    font-family: DidactGothic;
    font-size: 18pt;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2148a4;

}



.content {
    font-family: Poppins;
    font-size: 18pt;
    float: left;
    margin: 0px;
}



a { 
    font-family: Poppins;
    font-size: 18px;
    float: left;
    margin-left: 5px;
    color: black;
}
a:hover {
    color: #2148a4;
}

.articletwo {
    width: 328px;
    height: 563px;
    background-color: 
    margin-top: 50px;
    margin-left: auto;
    margin-right: 30px;
    
}

.img2 {
    height: 228px;
    width: 328px;
    margin-bottom: 20px;
    
}

.articlethree {
    width: 328px;
    height: 563px;
    background-color: 
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    
}

.img3 {
    height: 228px;
    width: 328px;
    margin-bottom: 20px;
    
}

.articlefour {
   position:absolute;
   margin-top: 845px;
    
}

.img4 {
    height: 228px;
    width: 328px;
    margin-bottom: 20px;
}


.articlefive {
    position: absolute;
    margin-top: 845px;
    margin-left: 568px;
}

.img5 {
    margin-bottom: 20px;
    height: 228px;
    width: 328px;
}






/*CSS for JS*/

.post{
    font-family: "Poppins",sans-serif;
    
}
.post p{
    font-size: 18px;
  overflow: auto;
}
.post button{
   margin-top: 10px; padding: 10px;
    background-color: #2148a4;
    color: #ffffff;
    border: none;
    cursor: pointer;
    
}
.post:not(:last-child){
    margin-bottom: 50px;
}
.hide{
    display: none;
}












