body {
    margin: 0px;
}


main {
    width: 1480px;
    height: 1200px;
    background-color: white;
    margin: -16px auto 0px auto;
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: DidactGothic;
    src: url(../fonts/DidactGothic-Regular\ copy.ttf);
}


.topbackground {
    width: 1480px;
    height: 280px;
    background-color: rgb(247,247,239);
    margin: -98px auto 0px auto;
}

#vertical-line {
    width: 1100px;
    height: 3px;
    background-color: black;
    position: relative;
    top: 150px;
    left: 194px;
    
}

.linetext {
    font-family: Arial;
    font-size: 16px;
    position: relative;
    top:-23px
}

article {
    width: 328px;
    height: 563px;
    background-color: white;
    position: relative;
    top: 200px;
    left: 195px;
    float: left;
}

.img1 {
    height: 228px;
    width: 328px;
    position: relative; 
    top: -95px;
}


time {
    position: relative;
    font-family: Arial;
    font-size: 14px;
    top: -75px;
    left: 93px;
}

h1 {
    position: relative;
    font-family: RobotoMedium;
    font-size: 38px;
    top: 90px;
    left: 665px;

}

h2 {
    font-family: RobotoMedium;
    font-size: 18px;
    position: relative;
    top: 280px;
}


p {
    font-family: Arial;
    font-size: 14px;
    position: relative;
    top: 12px;
}



a { 
    position: relative;
    font-family: Arial;
    font-size: 14px;
    top: -75px;
    left: 5px;
}

.articletwo {
      width: 328px;
      height: 563px;
      background-color: white;
      position: relative;
     top: 200px;
     left: 246px;
     float: left;
    }

    .img2 {
        height: 228px;
        width: 328px;
        position: relative; 
        top: -74px;
    }
    
    
    .time2 {
        position: relative;
        font-family: Arial;
        font-size: 14px;
        top: -55px;
        left: 97px;
    }
    
    

    
    .h22 {
        position: relative;
        top: 281px;
    }
    
    
    .p2 {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        top: 12px;
    }
    
    
    
    .a2 { 
        font-family: Arial;
        font-size: 14px;
        position: relative;
        top: -55px;
    }



